extends mainLayout
append stylesheets
    link(rel="stylesheet", href="stylesheets/homePage.css")
    link(rel="stylesheet", href="stylesheets/enterPage.css")
block content
    .container.mt-5
        #reservationSide.d-inline-block.float-left.position-sticky.col-3.rounded.p-0.medShadow-box-dark.mr-3(style='top:20px;')
            .card.border-0.text-white(style='width: 100%;')
                .card-header.reservationSideHeader.py-1.font-weight-bold
                    | Reservation
                    span.float-right
                        span#selectedPrice.mr-3
                            del
                                | $
                                span 0

                        span
                            | $
                            span#discountedPrice 0
                ul.list-group.list-group-flush
                    li.list-group-item.reservationSideDescription
                        form
                            .row.mb-3
                                .col
                                    span(style='font-size:0.7rem').font-weight-bold Course Time
                                    select#inputSelectCourseTime.form-control.warningSelectBox(placegolder='Select')
                                        option(value="empty" hidden) Select.
                                        each val in courseTimeList
                                            option(value=val) #{val}
                            .row.mb-3
                                .col
                                    span(style='font-size:0.7rem').font-weight-bold School Program
                                    select#inputSelectCourseProgram.form-control.warningSelectBox
                                        option(value='empty' hidden) Select.
                            .row.mb-3
                                .col
                                    span(style='font-size:0.7rem').font-weight-bold Course Start Date
                                    input(type="date")#inputSelectCourseDate.form-control.warningSelectBox
                            .row.mb-3
                                .col
                                    span(style='font-size:0.7rem').font-weight-bold Number Of Weeks
                                    select#inputSelectCourseWeek.form-control.warningSelectBox
                                        option(value="empty" hidden) Select.
                                        option ...
                            .row.mb-3
                                .col
                                    if course.accommodation == 'yes'
                                        span(style='font-size:0.7rem').font-weight-bold Accommodation
                                        select#inputSelectCourseAccommodation.form-control.warningSelectBox
                                            option(value="empty" hidden) Select.
                                            option(value="IDontNeed") I Don't Need
                                            option(value="INeed") I Need
                                    else
                                        span(style='font-size:0.7rem').font-weight-bold.disabled Accommodation
                                        select#inputSelectCourseAccommodation.form-control.warningSelectBox.disabled
                                            option(value="empty" hidden) Select.
                                            option(value="IDontNeed") I Don't Need
                                            option(value="INeed") I Need
                            .row.mb-3
                                .col
                                    if course.airport == 'yes'
                                        span(style='font-size:0.7rem').font-weight-bold Airport Pickup
                                        select#inputSelectCourseAirportPickup.form-control.warningSelectBox
                                            option(value="empty" hidden) Select.
                                            option(value="IDontNeed") I Don't Need
                                            option(value="INeed") I Need
                                    else
                                        span(style='font-size:0.7rem').font-weight-bold.disabled Airport Pickup
                                        select#inputSelectCourseAirportPickup.form-control.warningSelectBox.disabled
                                            option(value="empty" hidden) Select.
                                            option(value="IDontNeed") I Don't Need
                                            option(value="INeed") I Need
                            .row.mb-3
                                .col
                                    if course.hInsurance == 'yes'
                                        span(style='font-size:0.7rem').font-weight-bold Health Insurance
                                        select#inputSelectCourseHInsurance.form-control.warningSelectBox
                                            option(value="empty" hidden) Select.
                                            option(value="IDontNeed") I Don't Need
                                            option(value="INeed") I Need
                                    else
                                        span(style='font-size:0.7rem').font-weight-bold.disabled Health Insurance
                                        select#inputSelectCourseHInsurance.form-control.warningSelectBox.disabled
                                            option(value="empty" hidden) Select.
                                            option(value="IDontNeed") I Don't Need
                                            option(value="INeed") I Need

                    li.list-group-item.reservationSideFooter.font-weight-bold
                        span(style='font-size:0.9rem') Additional costs
                        #additionalCosts.mb-4
                        a#queueButton.btn.btn-sm.col.btn-success.rounded.mb-2(href='/coursee/confirm') Get Queue
                        a.btn.btn-sm.col.btn-primary.rounded(href='#') Get a free reserve
        .d-inline-block.ml-5.mb-5
            .bg-white.pt-3
                h2.px-2
                    #schoolNameHeader.span.ml-1
                        | #{course.name}
                #carouselExampleInterval.carousel.slide(data-ride='carousel').container.px-2.mx-auto.mb-4.coursepageCoursel.mb-2
                    ol.carousel-indicators
                        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                        li(data-target='#carouselExampleIndicators', data-slide-to='1')
                        li(data-target='#carouselExampleIndicators', data-slide-to='2')
                    .carousel-inner.homepageCoursel-imgbox
                        .carousel-item.active(data-interval='10000')
                            img.d-block.w-100(src='images/homePageCoursel-1.jpg', alt='...').homepageCoursel-img
                        .carousel-item(data-interval='2000')
                            img.d-block.w-100(src='images/homePageCoursel-2.jpg', alt='...').homepageCoursel-img
                        .carousel-item
                            img.d-block.w-100(src='images/homePageCoursel-3.jpg', alt='...').homepageCoursel-img
                    a.carousel-control-prev(href='#carouselExampleInterval', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleInterval', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next
                div.ml-2.mb-2.pl-3.w-700.mb-4(style='font-size:0.8rem')
                    .btn.btn-sm.p-0.btn-danger.mr-2.mb-0.h6(style='cursor:default; font-size:0.7rem;')
                        if(course.country !="")
                            | #{course.country}
                        if(course.state != "")
                            | , 
                            | #{course.state}
                        if(course.city !="")
                            | , 
                            | #{course.city}
                    | #{course.description}
                .schoolProgramsSide
                    -var temp = 1;
                    each val in programs
                        .btn.lowProgramShadow-box.d-block.schoolProgram.w-700.rounded.border.ml-3.p-3.mb-3(style='' id='Program'+temp)
                            h4.courseName #{programs[temp-1].name}
                            .schoolProgramDescription(style='font-size:0.9rem')
                                | Day-time: 
                                span.courseDay-Time #{val.time}
                                br
                                span.courseHours #{val.hours} 
                                | Hours/Week
                                br
                                if val.startDateDay > 10
                                    span.courseStartDateDay #{val.startDateDay}
                                    |   .
                                else
                                    span.courseStartDateDay 0#{val.startDateDay}
                                    |   .
                                if val.startDateMonth > 10
                                    span.courseStartDateMonth #{val.startDateMonth}
                                    |   .
                                else
                                    span.courseStartDateMonth 0#{val.startDateMonth}
                                    |   .
                                span.courseStartDateYear #{val.startDateYear}  
                                |   this price's start date
                                br
                                |   Price  
                                span.coursePrice   #{val.price}
                                -temp++;
                h4.px-2 Where is the School?
                iframe.px-2(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12090.255760412922!2d-73.9888741!3d40.7496197!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb19cbc299b6757f2!2sASA%20College%20-%20Manhattan%20Campus!5e0!3m2!1str!2sde!4v1581611459168!5m2!1str!2sde', width='100%', height='225', frameborder='0', style='border:0;', allowfullscreen='')
    script.
    include mainFooter
    append scripts
        script(src="javascripts/coursePage.js")